[
  {
    'name' : 'PDFtk',
    'package': 'pdftk_server-2.02-win-setup.exe',
    'directory': null,
    'url': 'https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk_server-2.02-win-setup.exe'
  },
  {
    'name' : '7-zip',
    'package': '7z1805-x64.exe',
    'directory': null,
    'url': 'https://www.7-zip.org/a/7z1805-x64.exe'
  },
  {
    'name' : 'poppler',
    'package': 'poppler-0.68.0_x86.7z',
    'directory': null,
    'url': 'http://blog.alivate.com.au/wp-content/uploads/2018/10/poppler-0.68.0_x86.7z'
  },
  {
    'name' : 'DjVuLibre',
    'package': 'DjVuLibre-3.5.27_DjView-4.11_Setup.exe',
    'directory': null,
    'url': 'https://netcologne.dl.sourceforge.net/project/djvu/DjVuLibre_Windows/3.5.27%2B4.11/DjVuLibre-3.5.27_DjView-4.11_Setup.exe'
  }
]