[
  {
    'name' : 'PDFtk',
    'package': 'pdftk_server-2.02-win-setup.exe',
    'directory': null,
    'url': 'https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit/pdftk_server-2.02-win-setup.exe'
  },
  {
    'name' : '7-zip',
    'package': '7z1805-x64.exe',
    'directory': null,
    'url': 'https://www.7-zip.org/a/7z1805-x64.exe'
  }
]